/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------------------------------*/

body{
    font-family: Arial;
    background-color: darkgray;
}

header {
    padding: 30px;
    text-align: center;
    background: #6a9cde;
}

section {
    display: flex;
    flex-direction: column;
    background-color:white;
}
/*------------------ topnav ----------------------------*/
.navbar {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #3e5f8a;
    border: 1px solid red;
}

.navbar a {
    display: flex;
    justify-content: center;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #a0c5f7;
    color: black;
}
/*------------------ card ----------------------------*/

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:right;
    margin:10px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 10px #000000;
}

.card__title {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    background-color: #6a9cde;
    border: 1px solid black;
    padding: 5px;
}

.card__campo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}
.card__campo__options{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 2px solid #76b900;
}
.card__campo__options option {
    width: 2000px;/*lo hago de esta manera para que se amolde a la caja que lo contiene*/
}

.card__checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    border: 2px solid #76b900;
}
.card__campo_checkbox {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 40%;
    margin-top: 5px;
}

.card__campo__label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.card__campo__label_checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.card__campo__input {
    height: 20px;
    width: 100%;
    border: 2px solid #76b900;
}
.card__campo__input_checkbox {
    height: 15px;
    width: 15px;
}

.card__button button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 15px;
}

.card__button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card__button button:hover {
    background-color: #76b900;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-7px);
}

.card__button button:active {
    transform: translateY(-1px);
}

/*------------------ footer ----------------------------*/
footer {
    text-align: center;
    padding: 30px;
    background: #6a9cde;
}

/*--------------------validaciones---------------------------*/
.invalid {
    border-color: red;
}

#errorNombre,
#errorApellido,
#errorMail,
#errorEdad
{
    color: red
}

/*==================Tablet - Escritorio==================*/
@media (min-width: 768px) {

    section {
        flex-direction: row;
        justify-content: center;
    }

    .navbar {
        width: 20%;
    }

    .card{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin:10px
    }

}

